/*メイン画面:投稿ボタン*/
.purchase-btn {
  height: 120px;
  width: 120px;
  background: red;
  text-align: center;
  border-radius: 10%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: auto;
}

.place-content-item {
  padding:40px 40px;
}

.list2{
  display: flex;
  height: 30vh;
  width: 70vw;
  padding: 20px;
  border: gray solid  2px;
  margin-bottom: 10px;
}

.place-image{
  height:25vh;
  width:25vw;
}

.place-text{
  margin-left: 50px;
}

.place-info{
  font-size: 70%;
  color: black;
}

